body{
    background-color: rgb(30,30,30,0.5);
    font-family: 'Google Sans','Noto Sans SC';
    color: #191919;
    display: flex;
    justify-content: center;
    position: relative;
    height: 100vh;
    margin: 0;
    padding: 0;
}

.panel{
    display: none;
    background-color: #303030;
    width: 65vw;
    border-radius: 25px;
    margin: 20px;
    flex-direction: column;
    padding: 10px;
}
@media (max-width: 728px) {
    .panel{
        width: calc(100% - 40px)
    }
}
.panel-bottom{
    display: flex;
    position: fixed;
    bottom: 0;
    animation: panel-bottom-animation 0.5s cubic-bezier(0.38, 0, 0.19, 1.03);
}
@keyframes panel-bottom-animation{
    0%{
        bottom: -220px;
    }
    100%{
        bottom: 0;
    }
}
.panel-top{
    display: flex;
    position: fixed;
    top: 0;
    animation: panel-top-animation 0.5s cubic-bezier(0.38, 0, 0.19, 1.03);
}
@keyframes panel-top-animation{
    0%{
        top: -220px;
    }
    100%{
        top: 0;
    }
}

.users-actions, .depl-actions{
    background-color: #404040;
    width: 100%;
    height: 80px;
    border-radius: 15px;
}
.users-actions{
    margin-bottom: 10px;
}