body{
    background-color: rgb(30,30,30,0.5);
    font-family: 'Google Sans','Noto Sans SC';
    color: #E6E6E6;
    display: flex;
    justify-content: center;
    position: relative;
    height: 100vh;
    margin: 0;
    padding: 0;
    user-select: none;
}

.panel{
    display: none;
    background-color: #303030;
    width: 65vw;
    border-radius: 25px;
    margin: 20px;
    flex-direction: column;
    padding: 10px;
}
@media (max-width: 728px) {
    .panel{
        width: calc(100% - 40px)
    }
}
.panel-bottom{
    display: flex;
    position: fixed;
    bottom: 0;
    animation: panel-bottom-animation 0.5s cubic-bezier(0.38, 0, 0.19, 1.03);
}
@keyframes panel-bottom-animation{
    0%{
        bottom: -220px;
    }
    100%{
        bottom: 0;
    }
}
.panel-top{
    display: flex;
    position: fixed;
    top: 0;
    animation: panel-top-animation 0.5s cubic-bezier(0.38, 0, 0.19, 1.03);
}
@keyframes panel-top-animation{
    0%{
        top: -220px;
    }
    100%{
        top: 0;
    }
}

.users-actions, .depl-actions{
    background-color: #404040;
    height: 80px;
    border-radius: 15px;
    display: flex;
    flex-direction: row;
    overflow-x: auto;
    overflow-y: hidden;
    scrollbar-width: none;
    scroll-behavior: smooth;
    padding: 5px;
}
.users-actions::-webkit-scrollbar, .depl-actions::-webkit-scrollbar{
    display: none;
}
.users-actions{
    margin-bottom: 10px;
}

.actions-area-description{
    font-size: 9px;
    margin: 0;
    margin-left: 5px;
    color: #606060;
    position: absolute;
    transform: translateX(5px);
}

.actions-btn{
    color: #E6E6E6;
    width: 65px;
    min-width: 65px;
    border-radius: 10px;
    padding: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    flex-direction: column;
    flex-shrink: 0;
    margin-right: 5px;
    position: relative;
}
.actions-btn:hover{
    background-color: #606060;
}
.actions-btn > p{
    margin: 0;
    font-size: 15px;
    flex: 1;
}
.actions-btn > svg{
    flex: 4;
}
.actions-btn > span{
    position: absolute;
    display: block;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 114514px;
    font-size: 11px;
    background-color: rgba(70,70,70,0.7);
    padding: 3px;
}