body{
    font-family: 'Noto Sans SC';
    margin: 0;
    padding: 0;
    user-select: none;
}
mdui-segmented-button-group{
    width: 200px;
}
.cqi-panel, .cjsp-panel, .up-panel{
    width: calc(100vw - 40px);
    height: 222px;
    margin-top: 8px;
    margin-bottom: 8px;
    margin-left: 16px;
    margin-right: 24px;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    padding: 10px;
}
.cqi-ctrl, .cjsp-ctrl{
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
}
mdui-divider{
    margin-top: 5px;
    margin-bottom: 5px;
}
.cqi-list, .cjsp-list, .up-table, .up-table > table{
    width: 100%;
    height: 100%;
    overflow-y: auto;
}
.cqi-list > mdui-list-item, .cjsp-list > mdui-list-item{
    user-select: text;
}
.mdui-table{
    margin: 0;
}
.up-table > table > tbody > tr > td{
    white-space: nowrap;
}